<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <% include meta %>
    <% include stylesheets %>
  </head>
  <body>
          <% include topnav %>
          <div class="right-panel light" >
          </div>
          <div class="left-panel panel panel-default light">
