<div id="top-header" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" id="brand-logo">track<span>fu</span></a>
        </div>
        <div class="collapse navbar-collapse header-collapse">
            <button type="button" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-home"></span></button>
            <button type="button" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-user"></span></button>
            <button type="button" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
            <button type="button" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-log-out"></span></button>
            <button type="button" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-log-in"></span></button>
        </div>
    </div>
</div>
<div class="right-panel light" >
</div>