<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <% include meta %>
        <% include stylesheets %>
    </head>
    <body class="page-body  ">
        <div class="page-container horizontal-menu sidebar-collapsed">
           <% include header %>

          <% include slideout %>


    <div class="t2 t2-trans trans-700 main-content">

<div class="row">
    <div class="col-lg-8 col-md-7 col-sm-7">
            <h3><%= title %></h3><br>


     </div>
</div>
    </div>
  </div>







           <% include footer %>
           <% include scripts %>
       </div>
    </body>
</html>

