<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <% include meta %>
        <% include stylesheets %>
    </head>
    <body class="page-body  ">
        <div class="page-container horizontal-menu sidebar-collapsed">


           <% include header %>
           <% include content %>
           <% include footer %>
           <% include scripts %>
       </div>
    </body>
</html>

