<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <% include meta %>
        <% include stylesheets %>
    </head>
    <body class="page-body  ">
        <div class="page-container horizontal-menu sidebar-collapsed">
           <% include header %>

           <div class="main-content row">
            <div class="login-content col-lg-4">
            <h3>Sign-up</h3><br>
<!--
            <div class="form-login-error">
                <h3>Invalid login</h3>
                <p>Enter <strong>demo</strong>/<strong>demo</strong> as login and password.</p>
            </div>
 -->
            <form method="post" action="/users" role="form" id="form_login" novalidate="novalidate">
                <div class="form-group">

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-user"></i>
                        </div>

                        <input type="text" class="form-control" name="uname" id="uname" placeholder="Username" autocomplete="off">
                    </div>

                </div>
                <div class="form-group">

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-user"></i>
                        </div>

                        <input type="text" class="form-control" name="email" id="email" placeholder="Email" autocomplete="off">
                    </div>

                </div>

                <div class="form-group">

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-key"></i>
                        </div>

                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" autocomplete="off">
                    </div>

                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-login">
                        <i class="entypo-login"></i>
                        Sign up
                    </button>
                </div>




            </form>




        </div>
           </div>

           <% include footer %>
           <% include scripts %>
       </div>
    </body>
</html>

