    <div id="top-header" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" id="brand-logo">track<span>fu</span></a>
            </div>
            <div class="collapse navbar-collapse header-collapse">
                    <a role="button" class="btn btn-sm btn-primary" href="/"><span class="glyphicon glyphicon-home"></span></a>
                <% if (user) { %>
                    <a role="button" class="btn btn-sm btn-primary" href="/profile"><span class="glyphicon glyphicon-user"></span></a>
                    <a role="button" class="btn btn-sm btn-primary" href="/r/create"><span class="glyphicon glyphicon-plus"></span></a>
                    <a role="button" class="btn btn-sm btn-primary  no-ajaxy" href="/signout"><span class="glyphicon glyphicon-log-out"></span></a>
                <% } else { %>
                    <a role="button" class="btn btn-sm btn-primary" href="/signin"><span class="glyphicon glyphicon-log-in"></span></a>
                <% } %>
            </div>
        </div>
    </div>