

<div class="navbar-inner ">
<ul class="pull-left navbar-nav col-lg-6 col-md-3 col-sm-3">
<li class="" style="border-right: none" >
<a class="logo  " href="/"><span class="bar1 "></span><h3 class="">trackfu</h3></a>
</li>
<% if (user) { %><li><a href="">Logged in as <strong><%= user.uname %></strong></a></li><% } %>
</ul>



</div>