* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;

}
body {
    background: url(/images/bg2.png) -280px -400px no-repeat !important;
    background-color: #cacaca !important;
    background-size: auto  !important;
}
body .page-container {
    box-shadow: none !important;
    border: none !important;
    overflow: auto
}
body .page-container .main-content {
    background-color: transparent !important;
    border-color:  transparent !important;
    position: absolute !important;
    -webkit-transform: translate(0,0);
}
body .page-container.horizontal-menu header.navbar.navbar-fixed-top {
    height: 42px;
    min-height: 42px;
    -webkit-box-shadow: 0 -5px 18px 0 rgba(44, 40, 51,0.55);
    -moz-box-shadow: -7rem -1px 13px -1px rgb(229, 252, 255, 0.55);
    box-shadow: -7rem -1px 13px -1px rgba(44, 40, 51,0.55);
    background: url(/images/bg2.png) -380px -400px no-repeat !important;
    opacity: 0.75;
    position: fixed;
    -webkit-transform: translate(0,0);

}

.main-content {
    padding: 0 15px !important;
    margin: 0 !important;
    transition: opacity 0.25s ease-in-out;

}

body .page-container.horizontal-menu header.navbar.navbar-fixed-top li {

    padding: 0 !important;


}
body .page-container.horizontal-menu header.navbar.navbar-fixed-top a {
    padding: 0.3em 0.6em;
    font-size: 1.3em;
    height: 42px;
    color: #000;
    border: none;

}

body .page-container.horizontal-menu header.navbar.navbar-fixed-top a i{
    color: #2C2833;

}

body .page-container.horizontal-menu header.navbar.navbar-fixed-top a span {
    top: -1px;
    color: #333;
    font-size: 12px !important;
    position: relative;
}


.boxed-layout .page-container.horizontal-menu>header.navbar {
    width: 100%;
}

.boxed-layout .page-container.horizontal-menu>header.navbar > .navbar-inner {
    width: 80%;
    margin: 0 auto;
    border: none !important;
}
.page-container.horizontal-menu header.navbar .navbar-nav {

}
.page-container.horizontal-menu header.navbar .navbar-nav > li ul li > a {
    background: #fff !important;
    border: none !important;
    opacity: 1 !important;
    color: #000 !important;
    padding: 5px 12px !important;
}
 .navbar-nav.pull-left:nth-child(2) a {
   padding: 1.2em 1em !important;
   margin: 0 !important;
   color: #000 !important;
 }
 .navbar-nav.pull-left:nth-child(2) a:hover,
  .navbar-nav.pull-left:nth-child(2) a.active {
    background: #ddd !important;
 }

.user-dropdown {
    font-size: 0.8em;

}
.user-dropdown a {
   padding: 0.5em 0.9em !important;

}


.right-panel {
    width: 360px; height: 100%; position: fixed; right: 0; z-index: 9999999; top: 0px;
    -webkit-box-shadow: 0px 0 10px 5px rgba(44, 40, 51,0.4);
}

.right-panel.dark {
    background:#000; display: block; opacity:0.85;
}

.right-panel.light {
    background:#ccc; display: block; opacity:0.9;
}

.slide-modal {
    width: 100%; height: 100%; left: 0; display: block; position: relative; top: 210px;
}
.input-xl {
    background: #f9f9f9;
    border: none;
    height: 53px;
    font-size: 16px;
    color: #444;
        transition: all 0.25s ease;

}
.btn-xl {
    background: #e5e5e5;
    color: #888;
    min-width: 100px;
    transition: all 0.3s ease;
    margin: -6px 2px 0 0 !important;
}
.input-xl:focus {
        border-bottom: none;
}

.input-xl:hover {
        background: #fafafa;
}
.btn-xl:hover {
    color: #fff;
    background: #FF002B
}
.logo {
    padding: 0 !important;
    margin: 0 !important;

}
.logo h3 {
    color: #222 !important;
    font-family: 'Helvetica Neue';
    margin: 0;
    font-size: 1em;
    display: inline-block;
    padding: 12px 15px;
}
.input-group-addon {
    background: #f9f9f9
}
.player {
    background: #fff !important;
    opacity: 0.8 !important;
}
.bar1  {
    display: inline-block;
    width: 7px;
    height: 42px;
    top: 0px !important;
    left: -1px;
    float: left;
    z-index: 999;
    position: relative;
    background: #fff;
}/*
.t1.t1-trans {
    -webkit-transform: translate(0,-42px) !important;
    opacity: 0 !important

}
.t1 {
    transition: -webkit-transform 0.3s ease;
}
.t2.t2-trans {
      opacity: 0 !important;
    -webkit-transform: translate(-55px, 0) !important;
}
.t2 {
    transition: all 0.25s ease-in-out;
}
.t3.t3-trans {
    opacity: 0 !important
}
.t3 {
    transition: all 0.2s ease-in-out;
}

.t4.t4-trans {
    -webkit-transform: translate(360px, 0) !important;
}
.t4 {
    transition: -webkit-transform 0.6s ease;
}*/