    <div class="t3 t3-trans trans-700 main-content">
<div class="row ">


                                  <div class="col-md-6">

                        <blockquote>

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </blockquote>


                        <hr>

                        <blockquote>

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </blockquote>


                        <hr>

                        <blockquote>

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </blockquote>


                        <hr>

                        <blockquote>

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </blockquote>


                        <hr>

                        <blockquote>

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </blockquote>


                        <hr>

                        <blockquote>

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </blockquote>


                        <hr>

                        <blockquote>

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </blockquote>


                        <hr>

                        <blockquote>

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </blockquote>


                        <hr>

                        <blockquote>

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </blockquote>


                        <hr>

                        <blockquote>

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </blockquote>


                        <hr>


                    </div>
                </div>
    </div>