
    <header class="navbar navbar-fixed-top ">
        <div class="navbar-inner">


            <ul class="navbar-nav ">
                <li>
                    <a style="border-right: none" href="">
                        <i class="entypo-gauge bg "></i> <span class=""></span>
                    </a>
                </li>


            </ul>


            <ul class="navbar-nav pull-right" style="border-left: none">
                <li>
                    <a href="">
                        <i class="entypo-user"></i> <span class="hidden-xs">Users</span>
                    </a>
                </li>
                <li>
                    <a href="file:///Users/arifulhaque/dev/neon/html/neon/Channels">
                        <i class="entypo-monitor"></i> <span class="hidden-xs">Channels</span>
                    </a>
                </li>

                <li>
                    <a href="file:///Users/arifulhaque/dev/neon/html/neon/extra-login.html">
                        <i class="entypo-logout right"></i> <span class="hidden-xs">Logout</span>
                    </a>
                </li>
            </ul>

        </div>

    </header>